<nav class="clearfix">


  <div id="left-nav">
    <h3>Dashboard</h3>
    <a class="a-left-nav">Home</a>
    <a class="a-left-nav">Settings</a>
    <a class="a-left-nav">Profile</a>
    <a class="a-left-nav">Help</a>
  </div>

  <div id="right-nav">
    <input type="text" placeholder="Search"/>
    <button>Search</button>
  </div>

</nav>

<div id="container">

  <div id="left-container">
    <left-component></left-component>
  </div>

  <div id="right-container">
    <right-component></right-component>
  </div>

</div>
